package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
import com.alibaba.excel.annotation.ExcelProperty;
import com.alibaba.excel.metadata.BaseRowModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${ClassName} extends BaseRowModel
{
    private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
    /** $column.columnComment */
    @ApiModelProperty("$column.columnComment")
    @ExcelProperty(value = "$column.columnComment", index = $velocityCount)
    private $column.javaType $column.javaField;
#end
}
